@font-face {
  font-family: "Dancing Script";
  src: url(./DancingScript.ttf);
}

body {
  height: 100vh;
  margin: 0;
}

#content {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
}

#header,
#nav,
#footer {
  background-color: #78350f;
  display: flex;
  justify-content: center;
}

#header {
  color: #fcd34d;
  font-family: "Dancing Script";
  font-size: calc(2rem + 3vw);
}

#nav {
  padding-bottom: 8px;
  gap: 4vw;
}

#nav button,
#footer {
  color: #fef3c7;
}

#nav button {
  background: none;
  border: none;
  font-family: inherit;
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
}

#nav button:hover,
#nav button.active {
  color: #fde68a;
}

#nav button.active {
  text-decoration: underline;
}

#home,
#menu,
#contact {
  background-color: #fef3c7;
  color: #7c2d12;
  padding-bottom: 8px;
  padding-left: 4vw;
  padding-right: 4vw;
  overflow: auto;
  flex: 1;
}

@media (min-width: 576px) {
  #home,
  #menu,
  #contact {
    padding-left: 6vw;
    padding-right: 6vw;
  }
}

@media (min-width: 768px) {
  #home,
  #menu,
  #contact {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media (min-width: 992px) {
  #home,
  #menu,
  #contact {
    padding-left: 12vw;
    padding-right: 12vw;
  }
}

@media (min-width: 1200px) {
  #home,
  #menu,
  #contact {
    padding-left: 24vw;
    padding-right: 24vw;
  }
}

h1 {
  text-align: center;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 24px;
}

#grid .item,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid .item {
  background-color: #fde68a;
  box-shadow: 4px 4px 4px #78350f;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#grid .item img {
  height: 250px;
  width: 250px;
}

#footer {
  font-size: 0.8rem;
  padding: 8px 0;
  align-items: center;
  gap: 0.5rem;
}

#footer img {
  width: min(1.1rem, 32px);
}
